html {
	height: 100%;
	font-size: 20px;
	font-style: sans-serif;
}

body {
	display: flex;
	flex-flow: column;
	min-height: 100vh;
	background-color: var(--secondary);
}

/* header, footer {
	flex-grow: 0;
	flex-shrink: 0;
	flex-basis: auto;
 }
 
 main {
	flex-grow: 1;
	flex-shrink: 0;
	flex-basis: auto;
 } */

 /* p {
	display: block;
	width: 100%;
	margin: 1rem auto;
	padding: 1rem 5rem;
	color: var(--tertiary);
	font-size: 22px;
	justify-content: center;
	text-align: center;


 } */

