:root {
	--font-h1:'Signika'; 
	--font-h3:'Signika';
	--font-h2:'';
	--font-paragraph:'';
	
	--primary: #61bdff;
	--secondary: #D3EFFF;
	--tertiary: #0054A1;
	--quaternary: #FF6B00;
	--quinary: #FFFFFF;
	--senary: black;
	--septenary: #FFB800;
}