:root {
	--font-header:'Sansita Swashed'; 
	--font-h3:'Spinnaker';
	--font-paragraph:'Abhaya Libre';
	
	--primary: #61BDFF;
	--secondary: #D3EFFF;
	--tertiary: #0054A1;;
	--quaternary: #FF6B00;
	--quinary: #FFFFFF;
	--senary: black;
	--septenary: #FFB800;
}