footer {
	width: 100vw;
	height: 12rem;
	min-width: 400px;
	margin-top: 3rem;
	background-color: var(--primary);
	box-shadow: 0 -0.5px 5px var(--tertiary);
}

.footer__some-items {
	display: flex;
	flex-direction: row;
	margin: 2rem auto 1rem auto;
	width: 50%;
	align-items: center;
	justify-content: center;
}

.footer__some-item {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	justify-content: center;
	align-items: center;
	width: 100%;
	text-align: center;
}

.footer__some-item img:hover {
	color: var(--quinary);
}

.footer__some a {
	display: block;
	padding: 0.5rem;
	text-decoration: none;
	color: var(--tertiary);
}

.footer__some a:hover {
	color: var(--quinary);
	transition: ease-in-out 0.3s;
	text-shadow: 0 1px 2px var(--tertiary);
}

.footer__some a:active {
	text-shadow: 0 1px 5px var(--quinary);
}


.footer__some-logo a {
	width: 4.4rem;
	height: 4.4rem;
	font-size: 17px;
	font-weight:bold;
	border-radius: 100%;
	background-color: var(--primary);
	border: 3.5px solid var(--tertiary);
	text-align: center;
	padding: 1.5rem 0;
}

.footer__some-logo a:hover {
	border: 3.5px solid var(--quinary);
	border-radius: 100%;
}

.footer__some li {
	list-style: none;
}

.footer__copyright {
	display: block;
	width: 50%;
	justify-content: center;
	text-align: center;
	margin: 0 auto 1rem auto;
	padding-top: 1rem;
	font-size: 18px;
	color: var(--tertiary);
	border-top: 1px solid var(--tertiary);

}

@media screen and (max-width: 768px) {
	.footer__some-item {
		font-size: 18px;
		margin: 0.2rem;
	}
	

}