.foster__h1 {
	font-family: var(--font-h1);
}

.foster__p {
	display: block;
	width: 100%;
	margin: 1rem auto;
	padding: 1rem 5rem;
	color: var(--tertiary);
	font-size: 22px;
	justify-content: center;
	text-align: center;
}