.header__sticky {
	position: sticky;
	top: 0;
	z-index: 10;
}

.navbar {
	width: 100vw;
	height: 7rem;
	background-color: #61BDFF;
	justify-content: center;
	align-items: center;
}

/* @media screen and {

} */

.navbar__items {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	padding: 2rem 3rem;
}

.navbar__item:hover .navbar__submenu {
	display: block;
}

.navbar a {
	display: block;
	padding: 0.5rem;
	cursor: pointer;
	color: #0054A1;
	text-decoration: none;
	font-size: 22px;
	font-weight: bold;
	text-transform: uppercase;
}

.navbar a:hover {
	color: white;
}

.navbar li {
	list-style: none;
}

.navbar__submenu {
	position: absolute;
	font-weight: bold;
	text-transform: uppercase;
	display: none;
	width: 15rem;
	background-color: #61BDFF;
	padding: 0 0 0.5rem 0;
	border-radius: 1rem;
}

.navbar__submenu a {
	padding: 0.8rem;
}

.navbar__submenu-item:hover {
	background-color: #0054A1;
	color: white;
	border-radius: 1rem;
	box-shadow: 0px 2px 5px #0054A1;
}

.navbar__item-donate a {
	background-color: orangered;
	color: white;
	border-radius: 50px;
	padding: 1rem 1.5rem;
}
