
.membership__h1 {
	font-family: var(--font-h1);
}

.membership__p {
	display: flex;
	width: 100%;
	padding: 0 5rem;
	color: var(--tertiary);
	font-size: 22px;
	text-align: center;
}

.membership__container {
	display: flex;
	margin: 2.5rem auto;
	width: 60vw;
	height: 80vh;
	background-color: var(--primary);
} 

.membership__container-fieldset {
	border: none;
}

.membership__container-form {
	display: flex;
	flex-direction: row;
	margin: 2rem auto;

}

.membership__container-name {
	display: flex;
	flex-direction: column;
	margin: 1rem auto;
	width: 32rem;
}

@media screen and (max-width: 768px) {
	.membership__container-background {

	}

	.membership__container-foreground {

	}

	.membership__container-form {

	}
}