.membership__p {
	display: flex;
	width: 100%;
	padding: 0 5rem;
	color: var(--tertiary);
	font-size: 22px;
	text-align: center;
}

.membership {
	display: flex;
	margin: 2.5rem auto;
	height: 70rem;
	justify-content: center;
	max-width: 30rem;

}

.membership__background {
	background-image: url('/assets/images/background-hannah-lim.jpg');
	height: 90%;
	width: 42rem;
	object-fit: fill;
	justify-content: center;
	border-radius: 20px;
	box-shadow: 0 10px 30px var(--tertiary);
}

.membership__foreground {
	margin: 0 auto;
	padding: 1rem;
	width: 42rem;
	height: 70%;
	background-image: linear-gradient(to bottom, var(--quinary), transparent);
	justify-content: center;
	border-radius: 20px;
}


.membership__form {
	display: flex;
	flex-direction: column;
}

@media screen and (max-width: 768px) {
	.membership__foreground {
		display: flex;
		width: 100%;
	}

	.membership__background {
		width: 96%;
	}

	.membership__form {
		margin: 4rem;
	}
}