.shop__container {
	display: flex;
	flex-direction: row;
	width: 80%;
	height: 100%;
	margin: 1rem auto 2rem auto;
	justify-content: center;
	gap: 2rem;
}

.shop__container-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	color: var(--tertiary);
	
}

.shop__container-item img {
	width: 100%;
	margin: 0 auto;
	border: 10px solid var(--quinary);
	box-shadow: 2px 3px 8px var(--tertiary);
}

.shop__container-item h4 {
	margin: 1rem auto 0.5rem auto;
}

.shop__container-item button {
	margin: 0.5rem auto;
	padding: 0.5rem 1rem;
	background-color: var(--quaternary);
}



@media screen and (max-width: 768px) {
	.shop__container {
		flex-direction: column;
	}

	.shop__container-item img {
		width: 100%;
		margin-bottom: -0.3rem;
	}

	.shop__container-item h4 {
		margin: 1.2rem auto 0.5rem auto;
	}
}

@media screen and (max-width: 992px) and (min-width: 769px) {
	.shop__container {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(2, 1fr);

	}
}