.slideshow__header {
	font-size: 50px;
	font-weight: bold;
	text-align: center;
	width: 100vw;
	margin: 3rem auto 40rem auto;
	color: #0054A1;
}

.slideshow {
	position: absolute;
	margin: 5rem auto 2rem auto;
	width: 70vw;
	min-width: 600px;
	height: 70vh;
	top: 60%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #61BDFF;
	border-radius: 2rem;
	box-shadow: 0 6px 20px #0054A1;
	overflow:visible;
}

.slideshow__slide {
	margin: auto;
	position: absolute;
	display: none;
	top: 2.5%;
	left: 2.5%;
	width: 95%;
	height: 95%;
	align-items: center;
	justify-content: center;
	transition: ease-in 0.7s;
}

.slideshow__slide--active {
	display: block;
}

.slideshow__img {
	width: 100%;
	height: 100%;
	object-fit: contain;
	filter: drop-shadow(0px 4px 6px var(--tertiary));
}


.slideshow__buttons {
	position: relative;
	z-index: 10;
	height: 100%;
}

.slideshow__button-next {
	position: absolute;
	top: 50%;
	right: 1rem;
	background-color: transparent;
	transform: translateY(-50%);
	width: 0;
	height: 0;
	border-width: 40px 0 40px 70px;
	border-color: 
		transparent
		transparent 
		transparent
		var(--quaternary);
	border-style: solid;
	filter: drop-shadow(0px 4px 6px var(--tertiary));
	cursor: pointer;

}

.slideshow__button-previous {
	position: absolute;
	top: 50%;
	left: 1rem;
	background-color: transparent;
	transform: translateY(-50%);
	width: 0;
	height: 0;
	border-width: 40px 70px 40px 0;
	border-color: 
		transparent
		var(--quaternary) 
		transparent 
		transparent ;
	border-style: solid;
	filter: drop-shadow(0px 4px 6px var(--tertiary));
	cursor: pointer;
}

.slideshow__dots {
	display: flex;
	position: absolute;
	margin: 0 auto;
	padding: 1rem;
	align-items: center;
	width: 50%;
	left: 25%;
	bottom: -2rem;
	justify-content: space-around;
	cursor: pointer;
}

.slideshow__dot {
	margin: -1rem 0.3rem;
	padding: 0.2rem;
	background-color: var(--quaternary);
	border-radius: 100px;
	border: none;
	box-shadow: 0 2px 3px var(--tertiary);
}

@media screen and (max-width: 992px) and (min-width: 769px) {

	.slideshow {
		width: 80vw;
	}

	.slideshow__button-next {
		right: -1.5rem;
		border-width: 30px 0 30px 60px;
	}

	.slideshow__button-previous {
		left: -1.5rem;
		border-width: 30px 60px 30px 0;
	}
}

@media screen and (max-width: 768px) {

	.slideshow {
		display: block;
		margin: 4rem auto;
		width: 90%;
		background: transparent;
		border: none;
		box-shadow: none;
		transition:none;
	}

	.slideshow__buttons {
		display: none;
	}

	.slideshow__dots {
		display: none;
	}

}

