.animals__p {
	display: block;
	width: 100%;
	margin: 1rem auto;
	padding: 1rem 5rem;
	color: var(--tertiary);
	font-size: 22px;
	justify-content: center;
	text-align: center;
	

 }

.contentbox {
	width: 90%;
	height: auto;
	display: grid;
	margin: 0 auto;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(3, 1fr);
	gap: 3rem;
	justify-content: space-between;
	
}


.contentbox__item {
	margin: 1rem;
	height: auto;
	width: 95%;
	box-shadow: 6px 8px 10px var(--tertiary);
	overflow: hidden;
	border: 0.2rem solid var(--quinary);
	border-radius: 0.1rem;
	cursor: pointer;
	
}

.contentbox__item h3 {
	display: flex;
	position: absolute;
	background: linear-gradient(to right, 
					rgb(97, 189, 255) 0%, 
					rgb(97, 189, 255) 20%, 
					transparent 100%);
	padding: 0.2rem 0.5rem;
	color: white;
	margin-top: -2.5rem;
	object-fit: contain;
	
}

.contentbox__item img {
	margin: 0;
	height: 100%;
	width: 100%;
	object-fit: cover;
	transition: transform 0.4s ease-in-out;
	transition-delay: 0.1s;
}

.contentbox img:hover {
	transform: scale(1.08);
}


@media screen and (max-width: 768px) {

	.animals__p {
		margin: 0 auto;
		width: 90%;
		padding: 0 1rem 1rem 1rem;
	}

	.contentbox {
		display: flex;
		flex-direction: column;
		width: 100vw;
		margin-top: 1rem;
		justify-content: center;
		align-items: center;
	}

	.contentbox__item {
		margin: 0.2rem auto;
		width: 92%;
		height: 35rem;
		border: 0.5rem solid var(--quinary);
	}

	.contentbox__item h3 {
		font-size: 40px;
		margin-top: -80px;
	}

	.contentbox img:hover {
		transform: none;
	}
}

@media screen and (max-width: 992px) and (min-width: 769px) {

	.contentbox {
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(4, 1fr);
	}

}


